*,body,input,select { font-family: "Baloo Tamma 2", cursive
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}


.intro-bg {
	background: url("https://i.imgur.com/oNu9Vuf.gif") no-repeat center center;
	-webkit-bckground-size:cover;
	background-size: cover;
	min-height: 300px;
	color: #fff;
	position: relative;
}


.intro-bg .content {
	position: absolute;
	z-index: 5;
	text-shadow: 0 0 2px #fff12311;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}



.intro-bg::before {
	position: absolute;
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.intro-bg .socials a{
	color: #ffff;
	font-size: 2.5em;
	padding: 10px;
	transition: all 0.5s linear;
}

.intro-bg .socials a:hover {
	color:  #4db8ff;
}

.intro-about-pic {
	text-align: center;
	padding: 25px;
}
.intro-about-pic figure {}
.intro-about-pic figure img {
	display: block;
	width: 250px;
	margin: 15px auto;
	border-radius: 30%;
	box-shadow: 0 0 15px #000;
}


.intro-about-text {
	padding: 30px;

}
.intro-about-text h2 {
	font-family: 'Montserrat';
	font-weight: 300;
	text-shadow: 0 0 1px #666;
}
.intro-about-text p {
	line-height: 2;
}






.main_row img {
  width: auto;
  height: 100vh;
}
